.countContainer {
    display: grid;
    width: 100%;
    grid-template-areas: 
        " decrease stock increase "
        " confirm confirm confirm ";
}
.count {
    grid-area: stock;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.btnIncDec {
    width: 10px;
    background-color: transparent !important;
    margin-bottom: 5px;
    font-size: 1.5rem;
}
.btnInc {
    grid-area: increase;
    margin-right: 5px;
}
.btnDec {
    grid-area: decrease;
    margin-left: 5px;
}
#btnConfirm {
    grid-area: confirm;
    background: #1C3144;
    color: #fff;
}